
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<body>
    <div id="wrapper">

        <div class="row" id="header">
            <div class="col-md-12" id="main-text">
                <h1>Wecome to TechCare Company!</h1>

            </div>
        </div>
        <div class="row" id="section">

            <h2> We are here to provide you the best solution for your computer hardware needs: </h2>
            <div class="container">
                <h2>Button Styles</h2>
                <button type="button" class="btn">Printers</button>
                <button type="button" class="btn btn-default">PC's</button>
                <button type="button" class="btn btn-primary">Security Camera</button>
                <button type="button" class="btn btn-success">Internet Services</button>
                <button type="button" class="btn btn-info">Contact us </button>

            </div>
        </div>
    </div>
</body>
     

  
   