
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

@if (ViewBag.isValidate)

{
<div class="alert alert-success">
    <strong>Message!</strong> @ViewData["msg"]@ViewData["isValidate"]
</div>

}
else 

{
<div class="alert alert-danger">
    <strong>Message!</strong> @ViewData["msg"]@ViewData["isValidate"]
</div>

}